@import url('https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
   --cor-principal: #000000;
   --cor1: #00c9c8;
   --cor2: #592d97;
   --cor4: #bffcf9;
   --preto:#47817f;
   --cor3:#887177;
   --branco:#ffffff;
}

body {
     font-size: 1rem;
     font-family: 'Montserrat';
}

section {
   padding-bottom: 5rem;
}

.display-4 {
   text-shadow: #592d97;
}

#EF {
   position: relative
   padding-top: 5rem;
   margin-top: 3rem;
   background-size: 180px 180px; /* Ajuste o tamanho conforme necessário */
}
#EF .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1; /* Garante que o conteúdo fica acima das imagens de background se houverem */

}





#contato {

   background: var(--cor-principal);
   background-size: cover ;
   padding: 4rem 0;
   
   }
   .formulario{ 
   
   background-color: var(--branco);
   padding: 2rem;
   border-radius: 10px0  ;
   box-shadow: 0 0 10px   ;
   font-weight: bold ;
   
   }
   
   .formulario button {
   
   background-color:var(--cor2)
   border:none;
   font-weight:bold
   
   }
   
   .form-control{
   
       background-color: var(--cor1);
   }
   .menu-acessibilidade{
    position: fixed;
    top:2rem;
    right: 20ex;
    z-index: 1000;



   }
   .rotacao-botao{
      transform: rotate(-90deg);
      transform-origin: right center;
   }


   .opcoes-acessibilidade {
      margin-top: 10px;
      display: flex;
      flex-direction: column;
   }

   .opcoes-acessibilidade button{
      margin-bottom: 5px;

   }

   .apresenta-lista {
      display: none;
      
   }